[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.3"
djangorestframework = "==3.12.4"

[dev-packages]
black = "==21.4b2"
isort = "==5.8.0"
autoflake = "==1.4"
pre-commit = "==2.12.1"
factory-boy = "==3.2.0"
Faker = "==8.1.0"

[requires]
python_version = "3.8"
